.heading-color {
  color: white;
}

.card-alignment {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}

/* ---------------------------------------------------------------------------------------------- */

.main-nav {
  display: none;
}

.main-nav.open {
  display: block;
}

@media (min-width: 768px) {
  .main-nav {
    display: block;
  }
}

.error-class {
  color: red;
}

.form-list {
  width: 80%;
  display: flex;
  margin-top: 12%;
  margin-bottom: 7%;
  justify-content: center;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #46B654;
}

/* ----------------------------------------------------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #EE633A;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #EE633A;
  content: "\f075";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  color: #46B654;
  font-weight: 700;
  margin: 0;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

.review-box {

  height: 600px;
  margin: 3%;
  margin-left: 6.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
  background-color: #46B654;
  border-radius: 25px;
}

.box-alignment-1 {
  width: 90%;
  height: 35%;
  background-color: #ecf4ec;
  margin: 1%;
  border-radius: 25px;
  box-shadow: 15px 15px 10px -15px #111;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-left: #EE633A 10px solid;
}

.logo-alignment {
  padding-left: 5%;
  padding-right: 5%;
}

.header-alignment {
  padding-left: 20%;

}

.span-alignment {
  display: block;
  justify-content: space-evenly;
}

.review-scroll {
  overflow: auto;
}

/* --------------------------------------------------------------------------------- */
.icon-aligment {
  width: 20%;
  margin-top: 5%;
}

.content-width {
  width: 80%;
}

/* ----------------------------------------------------------------------------------------------------------- */


.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.service-card {
  width: 30%;
  height: 270px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.service-card:hover {
  transform: translateY(20px);
}

.service-card:hover:before {
  opacity: 1;
}

.service-card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.service-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.service-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.service-card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.service-card .info h1 {
  margin: 0px;
}

.service-card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.service-card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.service-card .info button:hover {
  background: dodgerblue;
  color: white;
}


/* --------inline-block--------- */

.trend {
  display: inline-block;
}

/* -----space-evently----- */

.two-btn {
  display: flex;
  justify-content: space-evenly;
}


/* ------margin------ */

.msg {
  margin: 20px;
  color: black;
}

/* -----msg-Invalid----- */

.msg-ivd {
  margin: 20px;
  color: red;
}

/* ------Required------ */

.rq-msg {
  color: red;
}


/* -------table------- */

.tab-le {
  padding: 20px;

}

/* -------table------- */
.cl-bdr {

  border-color: black;
  text-align: center;

}

/* -------table-head------- */


/* -------table------- */


.img-agm {
  width: 356px;
  height: 236px;
  object-fit: fill;

}

.numbers-alignment{
  display: flex;
}
.numbers-box{
  display: flex;
  justify-content: space-evenly;
}

.logout-button{
  padding: 0%;
}
/* --------------------------------------------------------------------------------------------------------------- */
