.heading-color{
    color: white;
}

.card-alignment{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
}
/* ----------------------------------------------------------------------------------------------------------- */

  
  .wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }
  
  .service-card {
    width: 30%;
    height: 270px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
  }
  .service-card:hover {
    transform: translateY(20px);
  }
  .service-card:hover:before {
    opacity: 1;
  }
  .service-card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  .service-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  .service-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .service-card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  .service-card .info h1 {
    margin: 0px;
  }
  .service-card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .service-card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .service-card .info button:hover {
    background: dodgerblue;
    color: white;
  }